# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  pull-requests: write # for comments in PRs

jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - name: Get bun cache dir and hash
        id: bunCache
        run: |
          echo "dir=$(bun pm cache)" >> $GITHUB_OUTPUT
          echo "hash=$(bun pm hash)" >> $GITHUB_OUTPUT
      - name: Cache node modules
        uses: actions/cache@v5
        with:
          path: ${{ steps.bunCache.outputs.dir }}
          key: ${{ runner.os }}-build-cache-bun-${{ steps.bunCache.outputs.hash }}
      - name: Install dependencies
        run: bun install
      - name: Testing
        run: |
          bun run lint
          bun run test
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        continue-on-error: true
        with:
          github-token: ${{ secrets.github_token }}
      - name: Benchmark
        run: bunx vitest bench --run --outputJson bench.json
      - name: Benchmark processing
        id: bench
        if: github.event_name == 'pull_request'
        run: |
          echo 'comment<<EOF' >> $GITHUB_OUTPUT
          echo "# Performance benchmark" >> $GITHUB_OUTPUT
          echo ${{ github.event.pull_request.head.sha }} >> $GITHUB_OUTPUT
          echo '```' >> $GITHUB_OUTPUT
          bun run tools/benchmark.processor.ts >> $GITHUB_OUTPUT
          echo '```' >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT
      - name: Find Benchmark Comment
        id: fc
        if: github.event_name == 'pull_request'
        uses: peter-evans/find-comment@v4
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: benchmark
      - name: Maintain Benchmark Comment
        if: github.event_name == 'pull_request'
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-id: ${{ steps.fc.outputs.comment-id }}
          edit-mode: ${{ steps.fc.outputs.comment-id == '' && 'append' || 'replace' }}
          reactions: ${{ steps.fc.outputs.comment-id == '' && 'rocket' || 'hooray' }}
          body: ${{ steps.bench.outputs.comment }}

  integrationTest:
    needs: unitTest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mui-version:
        - 5.1.0
        - ^5
        - 6.0.0
        - ^6
        - 7.0.0
        - ^7
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - name: Get bun cache dir and hash
        id: bunCache
        run: |
          echo "dir=$(bun pm cache)" >> $GITHUB_OUTPUT
          echo "hash=$(bun pm hash)" >> $GITHUB_OUTPUT
      - name: Cache node modules
        uses: actions/cache@v5
        with:
          path: ${{ steps.bunCache.outputs.dir }}
          key: ${{ runner.os }}-build-cache-bun-${{ steps.bunCache.outputs.hash }}
      - name: Install dependencies
        run: bun install
      - name: Build
        run: bun run build
      - name: Test
        env:
          MUI_VERSION: ${{ matrix.mui-version }}
        run: |
          cat >packages/integration-test/package.json <<EOF
            {
              "name": "integration-test",
              "version": "1.0.0",
              "license": "MIT",
              "dependencies": {
                "merge-sx": "workspace:*",
                "@mui/material": "${MUI_VERSION}",
                "react": "^17.0.2",
                "react-dom": "^17.0.2"
              }
            }
          EOF
          cat packages/integration-test/package.json
          bun install --filter integration-test
          bun run intTest
