name: Minor

on: workflow_dispatch

permissions:
  contents: write

jobs:
  bumpVersion:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - name: Install dependencies
        run: bun install
      - uses: fregante/setup-git-user@v2
      - run: bun version minor
